.job-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border-radius: 10%;
  padding: 5px;
  -webkit-box-shadow: -2px 2px 7px -5px #24147b;
	   -moz-box-shadow: -2px 2px 7px -5px #24147b;
	        box-shadow: -2px 2px 7px -5px #24147b;
}

.job-title {
  margin: 1rem;
  color: rgb(23, 38, 64);
}

.company-info {
  margin: 1rem;
}

.company-info, .location, .date-posted {
  margin: .5rem;
}

.details-button {
  margin: 1rem;
}