.account {
  margin: 18rem 10% auto 10%;
  text-align: center;
}

.account-name, .account-values {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.name-button, .values-button {
  width: 10rem;
  align-self: center;
  background-color: orange;
  margin-bottom: 1rem;
}

input {
  margin: 2rem;
  height: 2rem;
  text-align: center;
}